.app-aside {
  width: 0px;
  transition: width .2s ease, opacity .25s ease, display .25s ease;
  overflow: hidden;
  opacity: 0;
  user-select: none;
}

.visor-app[data-aside-left="true"] .app-aside {
  width: 520px;
  opacity: 1;
}

.dragSelect {
  outline: 3px dashed var(--color-accent-10);
  border-radius: 2px;
}

.dragSelect > div div{
  height: 6px;
  aspect-ratio: 1/1;
  background-color: var(--color-accent-10);
}

.visor-render-file {
  width: 795px;
  height: max-content;
  min-height: 880px;
  display: flex;
  justify-content: center;
}