@import "./AppStyles/Aside.css";
/* .react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  left: 50% !important;
  transform: translateX(-50%);
} */

.page-container{
  width: 100%;
  max-width: 595px;
}

.a4 {
  width: 100%;
  max-width: 595px;
  aspect-ratio: 210 / 297;
}

.btn-icon {
  width: 24px;
  height: 24px;
  color: var(--color-lifo-text);
  cursor: pointer;
}
