@import 'tailwindcss';
@import './Flifo.css';
@import './App.css';


html {
    @apply bg-lifo-bg;
}

*{
    scrollbar-width: auto;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-lifo-bg-fourth);
}

.dropdown-item{
    padding: 6px 8px;
    font-size: calc(var(--fs-multiplier)*12px) !important;
}