.app-aside-left {
  width: 460px;
}

.aside-subtitle {
  font-size: calc(var(--fs-multiplier)*12px);
  @apply text-lifo-text font-medium;
}

.input-wrapper {
  @apply text-lifo-title bg-lifo-bg-third border-lifo-border-low flex flex-row
    flex-nowrap gap-2.5 rounded-md border px-2.5 py-1;
}

.input-wrapper:focus-within {
  border: solid 1px var(--color-blue-500);
  outline: none;
}